:root {
  --color-green-active: linear-gradient(to bottom right, #41CC50, #69DC79);
  --color-red-active: linear-gradient(to top right, #F54F37, #F62722);
  --color-yellow-active: linear-gradient(to top right, #FEEE40, #FDF960);
  --color-blue-active: linear-gradient(to bottom right, #1DACED, #1582DE);
  --color-green: #4b7a51;
  --color-red: #a52b29;
  --color-yellow: #b1ad46;
  --color-blue: #29699e;
  --btn-start: #50D45C;
  --btn-strict: #F02821; }

html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  font-family: inherit; }

body {
  height: 100%;
  font-family: 'Do Hyeon', Arial, sans-serif;
  font-size: 62.5%;
  background: #333; }

.game {
  border: 1.5rem solid #333;
  width: 35rem;
  height: 35rem;
  margin: 5rem auto 0;
  position: relative;
  border-radius: 100%;
  overflow: hidden; }
  .game__menu {
    border: 1rem solid #333;
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    color: #fff;
    border-radius: 10rem;
    padding: 2rem .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    background-image: url("http://www.clker.com/cliparts/c/c/2/a/1194989366182291164pattern-dots-square-grid-02.svg.med.png");
    background-repeat: no-repeat;
    background-size: 14.5rem;
    background-position: 0 470%; }
  .game__header {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    background: #333;
    height: 3.4rem; }
  .game__counter {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem; }
  .game__buttons {
    height: 100%;
    display: flex;
    flex-wrap: wrap; }
  .game__button {
    width: 50%;
    border: none; }
    .game__button:hover {
      cursor: pointer;
      opacity: 0.9; }
    .game__button#green {
      background: var(--color-green);
      border-right: .75rem solid #333;
      border-bottom: .75rem solid #333; }
      .game__button#green:enabled:active, .game__button#green.active {
        background: var(--color-green-active); }
    .game__button#red {
      background: var(--color-red);
      border-left: .75rem solid #333;
      border-bottom: .75rem solid #333; }
      .game__button#red:enabled:active, .game__button#red.active {
        background: var(--color-red-active); }
    .game__button#yellow {
      background: var(--color-yellow);
      border-top: .75rem solid #333;
      border-right: .75rem solid #333; }
      .game__button#yellow:enabled:active, .game__button#yellow.active {
        background: var(--color-yellow-active); }
    .game__button#blue {
      background: var(--color-blue);
      border-top: .75rem solid #333;
      border-left: .75rem solid #333; }
      .game__button#blue:enabled:active, .game__button#blue.active {
        background: var(--color-blue-active); }

.btn {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
  transition: all .1s; }
  .btn:active {
    transform: scale(0.95); }
  .btn--start {
    background: var(--btn-start); }
  .btn--strict {
    background: var(--btn-strict);
    position: relative;
    margin: 0 1rem; }
    .btn--strict.active:after {
      content: 'strict';
      font-size: 1rem;
      color: var(--btn-strict);
      position: relative;
      top: 1.9rem; }
