:root {
  --color-bg: #222;
  --color-green-active: linear-gradient(to bottom right, #41CC50, #69DC79);
  --color-red-active: linear-gradient(to top right, #F54F37, #F62722);
  --color-yellow-active: linear-gradient(to top right, #FEEE40, #FDF960);
  --color-blue-active: linear-gradient(to bottom right, #1DACED, #1582DE);
  --color-green: #4b7a51;
  --color-red: #a52b29;
  --color-yellow: #b1ad46;
  --color-blue: #29699e;
  --btn-start: #50D45C;
  --btn-strict: #F02821; }

html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  font-family: inherit; }

body {
  height: 100%;
  font-family: 'Do Hyeon', Arial, sans-serif;
  font-size: 62.5%;
  background: var(--color-bg); }

.game {
  max-width: 35rem;
  height: 35rem;
  margin: 5rem auto 0;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .game {
      margin-top: 0;
      border-radius: 0;
      overflow: visible; } }
  .game__menu {
    border: 1rem solid var(--color-bg);
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-bg);
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 10rem;
    padding: 2rem .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: top; }
    @media only screen and (max-width: 37.5em) {
      .game__menu {
        width: 100%;
        background: var(--color-bg);
        height: 20rem;
        padding-top: 0; } }
  .game__header {
    font-size: 3.5rem;
    text-align: center;
    margin: 8px 0 13px;
    width: 100%;
    height: 3.4rem; }
    .game__header:after {
      content: '\00AE';
      font-size: 1.5rem;
      position: relative;
      top: -8px; }
    @media only screen and (max-width: 37.5em) {
      .game__header {
        font-size: 5rem;
        margin-bottom: 2.5rem; } }
  .game__counter {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .game__counter {
        width: 100%;
        font-size: 3rem; } }
  .game__menu-btns {
    width: 5.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .game__menu-btns {
        margin: 0 auto 1rem;
        width: 10rem; } }
  .game__feedback {
    width: 100%;
    margin-top: 8px;
    text-align: center;
    font-size: 2rem;
    height: 2rem; }
  .game__buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .game__row {
    display: flex;
    justify-content: space-between;
    height: 48%; }
  .game__button {
    width: 48%;
    border-radius: 1rem;
    border: none;
    transition: transform .1s; }
    .game__button:hover {
      cursor: pointer; }
    .game__button:active {
      transform: scale(0.93); }
    .game__button#green {
      background: var(--color-green);
      border-top-left-radius: 100%; }
      .game__button#green:enabled:active, .game__button#green.active {
        background: var(--color-green-active); }
    .game__button#red {
      background: var(--color-red);
      border-top-right-radius: 100%; }
      .game__button#red:enabled:active, .game__button#red.active {
        background: var(--color-red-active); }
    .game__button#yellow {
      background: var(--color-yellow);
      border-bottom-left-radius: 100%; }
      .game__button#yellow:enabled:active, .game__button#yellow.active {
        background: var(--color-yellow-active); }
    .game__button#blue {
      background: var(--color-blue);
      border-bottom-right-radius: 100%; }
      .game__button#blue:enabled:active, .game__button#blue.active {
        background: var(--color-blue-active); }

.btn {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
  transition: all .1s; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      width: 3rem;
      height: 3rem; } }
  .btn:active {
    transform: scale(0.95); }
  .btn:hover {
    cursor: pointer;
    opacity: 0.8; }
  .btn--start {
    background: var(--btn-start); }
  .btn--glow:after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 10rem;
    position: relative;
    z-index: -1;
    background: var(--btn-start);
    animation: glow 1.5s infinite;
    opacity: 1;
    transform: scale(1);
    transition: all .6s; }
    @media only screen and (max-width: 37.5em) {
      .btn--glow:after {
        width: 3rem;
        height: 3rem; } }
  .btn--glow:hover:after {
    animation: 0; }
  .btn--strict {
    background: var(--btn-strict);
    position: relative; }
    .btn--strict.active:after {
      content: 'strict';
      font-size: 13px;
      color: var(--btn-strict);
      position: absolute;
      top: 2.3rem;
      right: 0; }
      @media only screen and (max-width: 37.5em) {
        .btn--strict.active:after {
          top: 3.2rem;
          left: 0; } }
    @media only screen and (max-width: 37.5em) {
      .btn--strict {
        margin: 0; } }

@keyframes glow {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }
