:root {
  --color-bg: #191919;
  --color-green: #50a259;
  --color-red: #ed352b;
  --color-yellow: #f2d51c;
  --color-blue: #006fd0;
  --color-green-active: #57d766;
  --color-red-active: #fa766f;
  --color-yellow-active: #ffe957;
  --color-blue-active: #2499ff;
  --color-green-glow: #2ecc40;
  --color-red-glow: #ff4136;
  --color-yellow-glow: #ffdc00;
  --color-blue-glow: #0074d9;
  --btn-start: #50d45c;
  --btn-strict: #f02821; }

/***** MXINS *****/
html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  font-family: inherit; }

body {
  height: 100%;
  font-family: 'Do Hyeon', Arial, sans-serif;
  font-size: 62.5%;
  background: var(--color-bg); }

.game {
  max-width: 35rem;
  height: 35rem;
  margin: 5rem auto 0;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .game {
      margin-top: 0;
      border-radius: 0;
      overflow: visible; } }
  .game__menu {
    border: 1rem solid var(--color-bg);
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-bg);
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 10rem;
    padding: 2rem .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: top; }
  .game__header {
    font-size: 3.5rem;
    text-align: center;
    margin: 8px 0 13px;
    width: 100%;
    height: 3.4rem; }
    .game__header:after {
      content: '\00AE';
      font-size: 1.5rem;
      position: relative;
      top: -8px; }
  .game__counter {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem; }
  .game__menu-btns {
    width: 5.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .game__feedback {
    width: 100%;
    margin-top: 8px;
    text-align: center;
    font-size: 2rem;
    height: 2rem; }
  .game__buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .game__row {
    display: flex;
    justify-content: space-between;
    height: 48%; }
  .game__button {
    width: 48%;
    border-radius: 1rem;
    border: none;
    transition: all .2s; }
    .game__button:hover {
      cursor: pointer;
      transform: scale(1.03); }
    .game__button#green {
      background: var(--color-green);
      border-top-left-radius: 100%; }
      .game__button#green:enabled:active, .game__button#green.active {
        background: var(--color-green-active);
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--color-green-glow), 0 0 70px var(--color-green-glow), 0 0 80px var(--color-green-glow), 0 0 100px var(--color-green-glow), 0 0 150px var(--color-green-glow); }
    .game__button#red {
      background: var(--color-red);
      border-top-right-radius: 100%; }
      .game__button#red:enabled:active, .game__button#red.active {
        background: var(--color-red-active);
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--color-red-glow), 0 0 70px var(--color-red-glow), 0 0 80px var(--color-red-glow), 0 0 100px var(--color-red-glow), 0 0 150px var(--color-red-glow); }
    .game__button#yellow {
      background: var(--color-yellow);
      border-bottom-left-radius: 100%; }
      .game__button#yellow:enabled:active, .game__button#yellow.active {
        background: var(--color-yellow-active);
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--color-yellow-glow), 0 0 70px var(--color-yellow-glow), 0 0 80px var(--color-yellow-glow), 0 0 100px var(--color-yellow-glow), 0 0 150px var(--color-yellow-glow); }
    .game__button#blue {
      background: var(--color-blue);
      border-bottom-right-radius: 100%; }
      .game__button#blue:enabled:active, .game__button#blue.active {
        background: var(--color-blue-active);
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--color-blue-glow), 0 0 70px var(--color-blue-glow), 0 0 80px var(--color-blue-glow), 0 0 100px var(--color-blue-glow), 0 0 150px var(--color-blue-glow); }

.btn {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
  transition: all .1s; }
  .btn:active {
    transform: scale(0.95); }
  .btn:hover {
    cursor: pointer;
    opacity: 0.8; }
  .btn--start {
    background: var(--btn-start); }
  .btn--glow:after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 10rem;
    position: relative;
    z-index: -1;
    background: var(--btn-start);
    animation: glow 1.5s infinite;
    opacity: 1;
    transform: scale(1);
    transition: all .6s; }
  .btn--glow:hover:after {
    animation: 0; }
  .btn--strict {
    background: var(--btn-strict);
    position: relative; }
    .btn--strict.active:after {
      content: 'strict';
      font-size: 13px;
      color: var(--btn-strict);
      position: absolute;
      top: 2.3rem;
      right: 0; }

/**** ANIMATIONS ****/
@keyframes glow {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }
