:root {
  --color-green-active: linear-gradient(to bottom right, #41CC50, #69DC79);
  --color-red-active: linear-gradient(to top right, #F54F37, #F62722);
  --color-yellow-active: linear-gradient(to top right, #FEEE40, #FDF960);
  --color-blue-active: linear-gradient(to bottom right, #1DACED, #1582DE);

  --color-green: rgb(75, 122, 81);
  --color-red: rgb(165, 43, 41);
  --color-yellow: rgb(177, 173, 70);
  --color-blue: rgb(41, 105, 158);

  --btn-start: #50D45C;
  --btn-strict: #F02821;
}

// V2 style as Google Chrome logo :D 


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  font-family: inherit;
}

body {
  height: 100%;
  font-family: 'Do Hyeon', Arial, sans-serif;
  font-size: 62.5%; // 1rem = 10px
  background: #333;
}


.game {
  border: 1.5rem solid #333;
  width: 35rem;
  height: 35rem;
  margin: 5rem auto 0;
  position: relative;
  border-radius: 100%;
  overflow: hidden;


  &__menu {
    border: 1rem solid #333;
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    color: #fff;
    border-radius: 10rem;
    padding: 2rem .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    background-image: url('http://www.clker.com/cliparts/c/c/2/a/1194989366182291164pattern-dots-square-grid-02.svg.med.png');
    background-repeat: no-repeat;
    background-size: 14.5rem;
    background-position: 0 470%;
  }

  &__header {
    font-size: 3.5rem;
    text-align: center;
    margin: 8px 0 13px;
    width: 100%;
    background: #333;
    height: 3.4rem;

    &:after {
      content: '\00AE';
      font-size: 1.5rem;
      position: relative;
      top: -8px;
    }
  }

  &__feedback {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
  }

  &__counter {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
  }

  &__buttons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    width: 50%;
    border: none;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &#green {
      background: var(--color-green);
      border-right: .75rem solid #333;
      border-bottom: .75rem solid #333;
      
      &:enabled:active,
      &.active {
        background: var(--color-green-active);   
      }
    }
    
    &#red {
      background: var(--color-red);
      border-left: .75rem solid #333;
      border-bottom: .75rem solid #333;
      
      &:enabled:active,
      &.active {
        background: var(--color-red-active);
      }
    }
    
    &#yellow {
      background: var(--color-yellow);
      border-top: .75rem solid #333;
      border-right: .75rem solid #333;
      
      &:enabled:active,
      &.active {
        background: var(--color-yellow-active);
      }
    }
    
    &#blue {
      background: var(--color-blue);
      border-top: .75rem solid #333;
      border-left: .75rem solid #333;
      
      &:enabled:active,
      &.active {
        background: var(--color-blue-active);
      }
    }
  }
}

.btn {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
  transition: all .1s;

  &:active {
    transform: scale(0.95);
  }

  &--start {
    background: var(--btn-start);
  }

  &--strict {
    background: var(--btn-strict);
    position: relative;
    margin: 0 1rem;

    &.active {
      &:after {
        content: 'strict';
        font-size: 13px;
        color: var(--btn-strict);
        position: relative;
        top: 1.7rem;
      }
    }

  }

}
